<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/script.js"></script>
    <title>Quarantena</title>
</head>
<body>
    <header>
        <button onclick="openDropdown()"><p>☰</p></button>
        <a href="/"><img alt="Quarantena Logo" src="../static/img/favicon.png"></a>
        <div></div>
        <ul class="dropdown">
            <li><a href="/downloads"><h1>Downloads</h1></a></li>
            <li><a href="/regolamento"><h1>Regolamento</h1></a></li>
            <li><a href="/hosting"><h1>Hosting</h1></a></li>
        </ul>
    </header>
    <div class="main">
        <div class="texure-pack">
            <img id = "top" src="../static/img/hosting.png" alt="AspiragattoPolvere">
            <div class="side-image">
                <p id="host">L’indirizzo del server è “quarantena.skynode.gg”, e come si capisce da esso stesso, abbiamo usato come servizio di hosting “skynode”. La scelta è stata molto accurata e precisa; difatti, dopo aver valutato tra tutti i migliori host, ed esserci consultati a vicenda… non è vero un cazzo, era il meno peggio: athernos era bello quanto le pubblicità di spotify. Skynode infatti, a differenza di altri servizi, non fa fare ore e ore di coda, ed ha solo un piccolo inconveniente: se non usato per tre giorni, CANCELLA TUTTO. Ma non temete, per evitare ciò e anche la coda, sarà sufficiente aumentare il monte ore tramite il tasto  “rinnova server”. Così facendo, il server può restare online ed essere utilizzabile a piacere, mentre se le ore arrivano a zero, bisogna entrare in coda per riavviarlo. Non sarà il massimo della comodità, ma siamo senza soldi, quindi vi attaccate al cazz…utissimo server e vi godete la giornata.</p>
            </div>
            <img id = "bottom" src="../static/img/hosting.png" alt="AspiragattoPolvere">
        </div>

        <div style="height: 4vh; width: 100%;"></div>

        <a href="https://skynode.gg/quarantena">
            <div class="button">
                <h1>Rinnova Server</h1>
            </div>
        </a>
    </div>
</body>
</html>