<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/script.js"></script>
    <title>Quarantena</title>
</head>
<body>
    <header>
        <button onclick="openDropdown()"><p>☰</p></button>
        <a href="/"><img alt="Quarantena Logo" src="../static/img/favicon.png"></a>
        <div></div>
        <ul class="dropdown">
            <li><a href="/downloads"><h1>Downloads</h1></a></li>
            <li><a href="/regolamento"><h1>Regolamento</h1></a></li>
            <li><a href="/hosting"><h1>Hosting</h1></a></li>
        </ul>
    </header>
    <h1 style="font-family: 'Mine'; font-size:6vh; text-align: center;">Corpus Iuris Quarantenae</h1>
    <div class="regole">
        <h1>0. Postulati</h1>
        <p>a. Lo Stato è sacro, e il bene di esso viene prima di qualsiasi altra cosa.</p> 
        <p>b. L’utente rispettoso delle leggi è secondario solo al bene dello Stato. Egli merita il rispetto e la collaborazione di tutti gli altri utenti.</p>
        <p>c. La proprietà privata è sacra, e non va né giudicata, né invasa, né modificata, a meno che non appartenga a sé stessi.</p>
        <p>d. Allo stesso modo, gli spazi pubblici meritano lo stesso rispetto, pertanto non vanno modificati, salvo autorizzazione da parte dei responsabili delle infrastrutture.</p>
        <p>e. Allo sviluppo degli edifici pubblici devono contribuire tutti gli utenti dal punto di vista della materia prima.</p>
        <p>f. Nello Stato vanno rispettate tutte le religioni, e ogni discriminazione a tal proposito potrà essere perseguita per vie legali.</p>
        <p>g. Tutti gli utenti rispettosi delle leggi sono a pari livello, e non possono assumere cariche politiche per ottenere favoritismi rispetto a sé stessi, quanto per contribuire ad una crescita costante e proficua dello Stato. Se un utente potrà provare il contrario, potrà denunciare e far sollevare dalla carica l’utente in questione. Se però non potrà provare il contrario, si veda le punizioni relative alla diffamazione.</p>
    </div>
    <div class="regole">
        <h1>1. Leggi base</h1>
        <p>a. Ogni utente può acquisire un numero illimitato di terreni gratuiti, a patto di chiedere l’autorizzazione all’architetto o ai due consoli. In essi, catalogati come proprietà dell’utente, varranno le seguenti regolamentazioni:</p>
        <p>- nessuno potrà accedere alla suddetta proprietà senza autorizzazione dal proprietario al di fuori del proprietario stesso.</p>
        <p>- un eventuale invasore, potrà essere abbattuto unicamente dal proprietario del terreno, non senza però aver ricevuto degli avvertimenti pacifici di intimazione per lasciare il terreno senza l’uso della violenza. In caso di omicidio si interverrà per vie legali con l’accusa di omicidio.</p>
        <p>- il contratto di possesso del terreno deve essere depositato in comune dall’architetto o da uno dei due consoli prima dell’inizio delle costruzioni.</p>
        <br>
        <p>b. Gli spazi comuni (definiti come tali poiché non di proprietà di alcun utente, per cui di conseguenza appartengono allo Stato) non possono essere modificati senza l'autorizzazione dell'architetto, il quale a sua volta dovrà consultarsi con almeno uno dei consoli. Tra tali spazi è considerato anche il portale del nether.</p>
        <br>
        <p>c. decalogo della regolazione dei rapporti tra utenti.</p>
        <p>Un utente non può:</p>
        <p>- rubare dalla proprietà privata altrui</p>
        <p>- rubare dallo stato</p>
        <p>- evadere le tasse</p>
        <p>- picchiare un altro utente (se un colpo viene dato involontariamente, è necessario chiarirsi con il ferito, altrimenti sarà considerato colpo volontario)</p>
        <p>- uccidere un altro utente (se in particolari circostanze un utente è ucciso da un altro utente involontariamente, è necessario che i due utenti si chiariscano a riguardo)</p>
        <p>- bestemmiare gli dèi</p>
        <p>- rubare dal tempio</p>
        <p>- portare armi e armature, e imprecare in senato, tribunale, comune e tempio</p>
        <p>- diffamare un altro utente o accusarlo di un reato pubblicamente</p>
        <p>- corrompere un altro utente per ottenere un guadagno illegale</p>
        <p>Eccetto quanto scritto qui sopra, ogni utente può sentirsi libero di fare qualsiasi cosa.</p>
        <br>
        <p>d. Le elezioni per nuovi incarichi avvengono ogni mese.</p>
        <p>questo segna quindi anche la durata di ogni mandato, e vanno effettuate tramite votazione di tutti i membri dello Stato. In caso di parità, saranno i consoli precedenti a determinare a chi spetta la carica tra i concorrenti. Ci si può candidare alla stessa carica solamente due volte consecutive.</p>
        <br>
        <p>e. Suddivisione dei ruoli e attribuzione compiti per ogni carica:</p>
        <p>- Consoli (2): approvano le leggi, fanno sì che vengano rispettate (nel pieno rispetto loro stessi delle leggi), contribuiscono attivamente nelle decisioni di tutti gli altri ruoli. Potranno inoltre convocare delle assemblee generali con un minimo di 24 ore di preavviso. Ottenuta la disponibilità da parte di tutti i membri, la mancata partecipazione a queste assemblee è perseguibile.</p>
        <p>- Legislatore (1): incaricato di fare le proposte di legge, ha assieme ai consoli la possibilità di approvarle e di farle rispettare.</p>
        <p>- Giurista (1): presiede i processi e proclama le sentenze. È anche incaricato di attribuire i risarcimenti o le pene da scontare. Nel caso sia il giurista stesso ad essere coinvolto in un processo, sarà giurista per tale processo il giurista del mese precedente.</p>
        <p>- Architetto (1): è responsabile dell'ideazione e approvazione di tutti gli edifici che vengono costruiti. Fondamentale è il dialogo con i consoli.</p>
        <p>- Tesoriere (1): responsabile del magazzino di Stato, della riscossione delle tasse e dell'ordine dell'inventario.</p>
        <p>- Sacerdote (1): responsabile del tempio e delle funzioni religiose.</p>
    </div>
    <div class="regole">
        <h1>2. Sanzioni e pene</h1>
        <p>1. Furto: da 1 a 3 giorni in esilio, o multa di 10 volte il valore del furto.</p>
        <p>2. Omicidi: da 3 a 14 giorni in esilio, oppure da 14 a 30 giorni in libertà limitata (limitazioni da decidere al momento del processo), oppure multa del valore di 1000 volte il livello a cui è morto l'accusatore.</p>
        <p>3. Possesso di armi/imprecazioni in luoghi pubblici: veto di ottenimento di alcuna carica politica per un periodo di 15 giorni, nonché perdita del diritto di voto per un periodo di 15 giorni. Se già occupava una carica, essa gli viene sollevata seduta stante dai consoli in carica, e attribuita al precedente copritore di tale carica per il resto del mandato. (Salvo che anch'egli stia scontando la stessa pena, nel cui caso l'incarico va ai consoli</p>
        <p>4. Intrusione in proprietà privata: pagamento multa del valore di 15 quarantini.</p>
        <p>5. Deturpazione di proprietà privata (meno di 10 blocchi): pagamento di multa del valore di 150 quarantini.</p>
        <p>6. Deturpazione di proprietà privata (più di 10 blocchi): pagamento di multa del valore di 500 quarantini.</p>
        <p>7. Distruzione di proprietà privata (più di 250 blocchi): pagamento di multa del valore di 5000 quarantini, più esilio per un periodo da 1 a 7 giorni.</p>
        <p>8. Evasione delle tasse: confisca COMPLETA dei possedimenti dell'evasore.</p>
        <p>9. Uso di transazioni non regolamentate: confisca dei beni ottenuti con tali transazioni</p>
        <p>10. Diffamazione: poiché non quantificabile il livello di diffamazione, l’imputato può chiedere una pena secondo lui giusta. Spetterà al giudice decidere se tale pena è effettivamente giusta, e in caso contrario proporre un’alternativa.</p>
        <p>11. Corruzione: confisca della carica da parte del corrotto, e radiazione da ogni carica politica per un periodo di 30 giorni, nonché perdita del diritto di voto per un periodo di 30 giorni. Per il corruttore, avviene una punizione analoga, esclusa la rimozione della carica politica.</p>
    </div>
    <div class="regole">
        <h1>3. Aspetto economico</h1>
        <p>a. Ogni cittadino è tenuto a contribuire alla crescita dello Stato, è pertanto tenuto a:</p>
        <p>- pagare le tasse</p>
        <p>- regolare le transazioni tramite la moneta digitale ritenuta come unica valuta valida dopo l'incontro tenuto in senato del 30/12/20. È tuttavia ammesso il baratto per transazioni più piccole (che non coinvolgono più di uno stack da entrambe le parti).</p>
        <p>b. I dettagli sul sistema di valorizzazione degli oggetti (necessario per l’esazione delle tasse) possono essre trovati nel canale #valore-oggetti</p>
    </div>
    <div class="regole">
        <h1>4. Regolamentazione ospiti</h1>
        <p>a. L'ospite è sacro, e in quanto tale va rispettato come un normale utente.</p>
        <p>b. L'ospite può attingere per la sua riserva personale dal magazzino di Stato, ma non può avere una proprietà privata. Per dormire o svolgere altre attività, deve essere ospitato in casa di uno degli utenti.</p>
        <p>c. Per prendere possesso di qualsiasi cosa che non trovi in natura, l'ospite necessita dell'autorizzazione di un utente</p>
        <p>d. L'ospite non ha diritto di voto, e non può assumere cariche pubbliche.</p>
        <p>e. Se un ospite volesse diventare un utente, deve scegliere un "mentore" (un utente) che possa garantire per lui, e che per un periodo limitato (1 mese) sarà responsabile anch'egli di ogni reato commesso dall'ospite, e dovrà pagare in ugual misura.</p>
    </div>
    <div style="width: 100%; height: 5vh;"></div>
</body>
</html>